/* Creates Two Backgrounds with the second being repeated */
body {
  background-image: url("b1.png"),url("b2.png");
  background-size: contain;
  background-repeat: no-repeat, repeat;
  font-family: sans-serif;
}

/* Creates Margins for Entire Website */
html {
  margin: 10px;
  padding: 30px;
}

/* Moves links to Right Side of Screen */
.Pages {
  text-align: center;
 }

/* Line Height Decrease or Increases length between H tags */
.Titles{
  line-height: 30px;
  color: white;
  text-align: center;
}

/* Add Style to Title */
.mainTitle {
  text-decoration: underline;
  font-size: 150px;
  font-weight: bold;
}

.subTitle {
  font-size: 40px;
  font-family: cursive;
}

.mainContent {
  padding-top: 0px;
}

.content {
  padding-left: 32px;
  padding-right: 32px;
}

/* Display flex allows images to decrease or increase based off of need */
.sectionTitle {
  text-align: center: center;
  color: white;
  display: flex;
  font-size: 50pt;
}

/* Two classes uses same features */
p, .list {
  color: white;
  font-size: 24pt;
}

.b {
  font-weight: bold;
}

/* Justify content controls box along axis */
.imgRow {
  display: flex;
  justify-content: space-between;
}

.pic {
  width: 33%;
}

.Header {
  text-align: Center;
  font-size: 50pt;
  color: white;
}

ol {
  background-image: url(b2.png);
}

.time{
  width: windowWidth/2;
  height: windowHeight/2;

}
